@{
    ViewData["Title"] = "DashBoard";
}


<style>
    img{
        width: 13%;
        height: 8%;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div id="NavBar" class="sideBar">
            <nav class="navBar">
                <span >Welcome!</span>
            </nav>
        </div>


        <div class="row">
            
            <div class="col-md-6">
                <div class="content-box">
                    <a asp-controller="" asp-action="" class="card-link">
                        <div class="card">
                            <div class="card-body text-center">
                                

                                <a asp-controller="#" asp-action="#" class="btn btn-primary stretched-link">Clients</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

           
            <div class="col-md-6">
                <div class="content-box">
                    <a asp-controller="" asp-action="" class="card-link">
                        <div class="card">
                            <div class="card-body text-center">
                                

                                <a asp-controller="#" asp-action="#" class="btn btn-primary stretched-link">Projects</a>

                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-box">
                    <a asp-controller="" asp-action="" class="card-link">
                        <div class="card">
                            <div class="card-body text-center">
                               

                                <a asp-controller="#" asp-action="#" class="btn btn-primary stretched-link">Devices</a>

                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6">
                <div class="content-box">
                    <a asp-controller="" asp-action="" class="card-link">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="~/css/P2 Enhanced2 art.png" alt="my picture"/>

                                <a asp-controller="#" asp-action="#" class="btn btn-primary stretched-link">Summary</a>

                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>