@{
    ViewData["Title"] = "Client Landing";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 content">
            <table class="table table-hover">
                <thead>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                </thead>
                <tbody>
                    <tr>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="NavBar" class="col-md-3 sidebar">
            <button >ADD CLIENT</button>
        </div>
    </div>
</div>